body{
    background-image: url(donation13.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    position: relative;
}
.banner-section{
    color: white;
    text-align: center;
    font-family: sans-serif;
    margin: 0 auto;
    width: 56%;
    padding: 10%;
}
h1{
    font-size: 75px;
    font-weight: 700;
    margin-bottom: 20px;
}
p{
    font-size: 20px;
    margin: 35px;
}
.donate-btn{
    border-color: rgb(247, 99, 99);;
    background-color: rgb(247, 99, 99);
    font-weight: 700;
    font-size: 20px;
    padding: 12px 24px;
    border-radius: 8px;
    color: white;
    margin-top: 15px;
}
.amount-section{
    height: 700px;
    background-color: white;
    background-size: auto;
    text-align: center;
    font-family: sans-serif;
    margin: 0 auto ;
    padding: 10px 20px 40px;
}
h3{
    font-size: 50px;
    font-weight: 700;
}
.amount-text{
    display: flex;
    align-items: center;
    justify-content: center;
    color: gray;
    font-size: 40px;
    font-weight: 700;
}
.amt-text-size{
    height: 120px;
    width: 150px;
    margin: 20px;
    border: 20px;
}
.donate-par-color{
    text-align: center;
    color: rgb(100, 98, 98);
}
