body{
    background-image: url(donation13.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    position: relative;
}
.banner-section{
    color: white;
    text-align: center;
    font-family: sans-serif;
    margin: 0 auto;
    width: 56%;
    padding: 10%;
}
h1{
    font-size: 75px;
    font-weight: 700;
    margin-bottom: 20px;
}
p{
    font-size: 20px;
    margin: 35px;
}
.donate-btn{
    border-color: rgb(247, 99, 99);;
    background-color: rgb(247, 99, 99);
    font-weight: 700;
    font-size: 20px;
    padding: 12px 24px;
    border-radius: 8px;
    color: white;
    margin-top: 15px;
}
.amount-section{
    height: 700px;
    background-color: white;
    background-size: auto;
    text-align: center;
    font-family: sans-serif;
    margin: 0 auto ;
    padding: 10px 20px 40px;
}
h3{
    font-size: 50px;
    font-weight: 700;
}
.amount-text{
    display: flex;
    align-items: center;
    justify-content: center;
    color: gray;
    font-size: 40px;
    font-weight: 700;
}
.amt-text-size{
    height: 120px;
    width: 150px;
    margin: 20px;
    border: 20px;
}
.donate-par-color{
    text-align: center;
    color: rgb(100, 98, 98);
}
.donation-plan-section{
    margin-top: 70px;
    padding: 50px;
    justify-content: space-evenly;
    height: 700px;
    background-color: white;
    background-size: auto;
    text-align: center;
    font-family: sans-serif;
    margin: 0 auto ;
    padding: 10px 20px 40px;
    }
.donation-plan-card{
    display: flex;
    text-align: center;
    gap: 75px;
    margin: 10px 40px;
}
h4{
    font-weight: 900;
    text-align: start;
    padding-left: 15px;
}
.food{
    width: 370px;
    height: 400PX;
    border: 1px solid gray;
    text-align: left;
    box-shadow: 8px 8px 16px gray;
    padding: 22px;
    border-radius: 10px;
    margin-top: 40px;
    transition: .8ms;
    background-color: rgb(214, 232, 239);
}
.shelter{
    width: 370px;
    height: 400PX;
    border: 1px solid gray;
    text-align: left;
    box-shadow: 8px 8px 16px gray;
    padding: 22px;
    border-radius: 10px;
    margin-top: 40px;
    transition: .8ms;
    background-color: rgb(242, 227, 229);
}
.education{
    width: 370px;
    height: 400PX;
    border: 1px solid gray;
    text-align: left;
    box-shadow: 8px 8px 16px gray;
    padding: 22px;
    border-radius: 10px;
    margin-top: 40px;
    transition: .8ms;
    background-color: rgb(240, 220, 194);
}
.donation-plan-card:hover{
    border: 1px solid rgb(243, 29, 29);
    margin-top: -20px;
    transition: .8ms;
}
.life-depend-container{
    display: flex;
    width: 50%;
    background-repeat: no-repeat;
    background-position: right;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 10px;
}
.half-width{
   width: 100%;
   margin-left: 5%;
   margin-right: 5%;
   padding-left: 20px;
   border-radius: 10px;
}
h4{
    text-align: center;
}
footer{
    text-align: center;
    font-size: 30px;
    color: rgb(230, 114, 114);
    font-family: Dancing Script;
    background-color: rgb(28, 23, 37);
}
